@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 a {
	 text-decoration: none;
	 color: black;
}
.dfcardss {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.dblog{
	margin-top: 30px;
    background-color: #f1f1f1;
	padding: 60px 0;
}
.col{
	 padding: 1rem;
}
.cardIcon i{
	font-size: 5vw;
	color: #478EF2;
	margin-bottom: 13%;
}
.cardText h2{
	font-weight: 550;
	margin: 1%;
}
.cardText p{
	font-weight: 300;
	margin: 1%;
}
@media (min-width: 650px) {
	 .col {
		 width: 25%;
		 float: left;
	}
	 .col:nth-of-type(2n+1) {
		 clear: left;
	}

}
@media (max-width: 930px) {
	.cardIcon i{
		font-size: 6vw !important;
	}
	.dfcardss{
		display: flex;
	}
	.col {
		width: 45%;
		float: left;
		margin: auto;
   }
	.col:nth-of-type(2n+1) {
		clear: left;
   }
   .card-3 .content{
	border-radius: 20vw;
	width: 90%;
   }
   .card-3:before, .card-3:after {
	border-radius: 20vw;
	width: 90%;
   }
}
@media (max-width: 666px) {
	.cardIcon i{
		font-size: 14vw !important;
	}
	.col {
		width: 100%;
		float: left;
   }
   .card-3 .content{
	border-radius: 8vw !important;
	width: 70%;
   }
   .card-3:before, .card-3:after {
	border-radius: 8vw !important;
	width: 70%;
   }
}
.card {
	 display: block;
	 text-align: center;
	 color: #000;
}
.card .content {
	 padding: 4rem 1rem;
	 margin: auto;

}
.card .title {
	 font-size: 1.25rem;
	 background-color: gray;
	 border-radius: 3px;
	 padding: 0.5rem;
}
.card-3 .content {
	 background-color: #ffffff !important;
	 border-radius: 2vw;
}
.card-3:before, .card-3:after {
	border-radius: 2vw;
	margin: auto;
}
.card-3:before {
	 background-color: rgb(151, 151, 151) !important;
	 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .card-3 .title, .card-3:after {
	 background-color: rgb(151, 151, 151) !important;
	 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
[class*='stacked--'] {
	 position: relative;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
[class*='stacked--']:before, [class*='stacked--']:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-color: currentColor;
	 transition: transform 0.3s ease-in-out;
	 will-change: transform;
}
[class*='stacked--']:before {
	 z-index: -1;
}
[class*='stacked--']:after {
	 z-index: -2;
}
.stacked--up:before, .stacked--up:after {
	 transform-origin: center bottom;
}
.stacked--up:hover {
	 transform: translate(0, -5px);
}
.stacked--up:hover:before {
	 transform: translate(0, 5px) scale(0.95);
}
.stacked--up:hover:after {
	 transform: translate(0, 10px) scale(0.9);
}
.cardIcon {
	width: 100px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.cardIcon img{
	width: 100px !important;
	height: 100px !important;
}