.Wait{
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    padding: 3% 10%;
}
.Wait div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Wait h1{
    font-size: 2.5vw;
    color: black;
}
.Wait p{
    margin: 5% 0;
    font-size: 1.3vw;
    width: 70%;
    color: rgb(123, 123, 123);
}
.Wait a{
    color: #0F70DA;
    font-size: 1.4vw;
    padding: 2% 12%;
    border: 0.1vw solid #0F70DA;
    border-radius: .8vw;
}
.Wait a:hover{
    color: white;
    background-color: #0F70DA;
}
.Wait img{
    width: 50%;
    margin-left: 5%;
}
@media(max-width: 900px) {
    .Wait h1{
        font-size: 3.8vw;
    }
    .Wait p{
        margin: 5% 0;
        font-size: 1.7vw;
        width: 70%;
    }
    .Wait a{
        font-size: 1.8vw;
        padding: 2% 10%;
        border-radius: 1.4vw;
    }
    .Wait img{
        width: 40%;
    }
}
@media(max-width: 650px) {
    .Wait{
        flex-direction: column;
        text-align: center;
        padding: 10%;
    }
    .Wait h1{
        font-size: 7vw;
        margin: auto;
    }
    .Wait p{
        margin: 5% 0;
        font-size: 2.5vw;
        width: 100%;
    }
    .Wait a{
        font-size: 3vw;
        padding: 2% 12%;
        border-radius: 2vw;
        margin: auto;
    }
    .Wait img{
        width: 80%;
        margin: 7% auto;
    }
}