.Wait{
    background-color: rgb(246, 246, 246);
}
.Wait .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}
.Wait .WaitTexts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Wait h1{
    /* font-size: 2.5vw; */
    color: black;
}
.Wait p{
    margin: 5% 0;
    /* font-size: 1.3vw; */
    width: 60%;
    color: rgb(123, 123, 123);
}
.Wait a{
    color: #0F70DA;
    font-size: 1.3vw;
    padding: 1% 10%;
    border: 0.1vw solid #0F70DA;
    border-radius: .5vw;
}
.Wait a:hover{
    color: white;
    background-color: #0F70DA;
}
.Wait img{
    width: 45%;
}
@media(max-width: 1000px) {
    .Wait .container{
        padding: 5%;
    }
    .Wait a{
        font-size: 2.3vw;
        padding: 1% 10%;
    }
    .Wait img{
        width: 60%;
    }
}
@media(max-width: 650px) {
    .Wait .container{
        flex-direction: column-reverse;
    }
    .Wait h1{
        text-align: center;
        margin: 2% auto;
    }
    .Wait p{
        margin: 3% auto;
        text-align: center;
        width: 80%;
    }
    .Wait a{
        font-size: 3.3vw;
        padding: 1% 10%;
        text-align: center;
        margin: 0 auto;
    }
    .Wait img{
        width: 90%;
    }
}