.Wait{
    background-color: rgb(246, 246, 246);
}
.Wait .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}
.Wait .WaitTexts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Wait h1{   
    /* font-size: 2.5vw; */
    color: black;
}
.Wait p{
    margin: 5% 0;
    font-size: 1.3vw;
    width: 50%;
    color: rgb(123, 123, 123);
}
.Wait a{
    color: #0F70DA;
    font-size: 1.4vw;
    padding: 2% 12%;
    border: 0.1vw solid #0F70DA;
    border-radius: .8vw;
}
.Wait a:hover{
    color: white;
    background-color: #0F70DA;
}
.Wait img{
    width: 55%;
    margin-left: 5%;
}
@media(max-width: 900px) {
    .Wait h1{
        font-size: 3vw;
    }
    .Wait p{
        margin: 5% 0;
        font-size: 1.7vw;
        width: 70%;
    }
    .Wait a{
        font-size: 1.7vw;
        padding: 1% 10%;
    }
    .Wait img{
        width: 50%;
    }
}
@media(max-width: 768px) {
    .Wait .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .WaitTexts h1, .WaitTexts p, .WaitTexts a{
        margin: 3% auto;
    }
    .WaitTexts p, .WaitTexts a{
        font-size: 2vw;
    }
    .Wait img{
        width: 60%;
        padding-top: 5%;
    }
}
@media(max-width: 650px) {
    .Wait h1{
        font-size: 6vw;
        margin: auto;
    }
    .Wait p{
        font-size: 3vw;
        width: 100%;
    }
    .Wait a{
        font-size: 4vw;
        margin: auto;
        padding: 1% 10%;
        margin-bottom: 10%;
    }
    .WaitTexts{
        text-align: center;
    }
    .Wait .container{
        padding: 10% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}