.ClientPanelModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
}
.ClientPanelModal img{
    width: 30%;
}
.ClientPanelModal h1{
    /* font-size: 3vw; */
    color: orangered;
}
.ClientPanelModal p{
    margin: 1% 1%;
    /* font-size: 1.5vw; */
    color: rgb(63, 63, 63);
}
.ClientPanelModal a{
    /* font-size: 1.5vw; */
    color: white;
    background-color: #0F70DA;
    border: .1vw solid #0F70DA;
    padding: 1% 2%;
    margin-top: 2%;
    border-radius: 1vw;
}
.ClientPanelModal a:hover{
    color: #0F70DA;
    background-color: white;
}
@media(max-width: 900px){
    .ClientPanelModal img{
        width: 40%;
    }
    .ClientPanelModal{
        margin-top: 30%;
    }
}
@media(max-width: 700px){
    .ClientPanelModal img{
        width: 50%;
    }
    .ClientPanelModal{
        margin-top: 45%;
    }
}