.Footer{
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    width: 100%;
}
.Footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Footer ul li{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}
.Footer ul li a{
    margin: 10% 0;
    color: black;
    font-size: 1.3vw;
    width: max-content;
}
.Footer ul li img{
    width:  15vw;
}
.Footer ul li a:hover{
    border-bottom: 0.1vw solid black;
}
.Footer hr{
    margin: 2% 0;
}
.Footer .underBox{
    display: flex;
    justify-content: space-evenly;
}
.Footer .underBox p{
    /* font-size: 1.2vw; */
    color: gray;
}
.Footer span{
    display: flex;
    align-items: center;
}
.Footer span a{
    margin: 0 7%;
    color: #0F70DA;
    cursor: pointer;
    font-size: 1.5vw;
}
.Footer span a:hover{
    transform: translateY(-0.5vw);
}
@media(max-width: 1200px){
    .Footer ul li a{
        margin: 7% 0;
        font-size: 1.7vw;
    }
    .Footer ul li {
       margin: 2% 3%;
    }
    .Footer span a{
        font-size: 1.7vw;
    }
}
@media(max-width: 900px){
    .Footer ul li a{
        margin: 7% 0;
        font-size: 2.3vw;
    }
    .Footer span a{
        font-size: 2vw;
    }
}
@media(max-width: 800px){
    .Footer ul li a{
        margin: 5% 0;
        font-size: 2.5vw;
    }
    .Footer ul li{
        width: 35%;
    }
    .Footer span a{
        font-size: 2.5vw;
    }
}
@media(max-width: 650px){
    .Footer ul li{
        width: 40%;
        margin: 2% 0;
    }
    .Footer ul li img{
        width: 25vw;
    }
    .Footer ul li a{
        margin: 2.5%;
        font-size: 3.5vw;
    }
    .Footer span a{
        font-size: 2.7vw;
    }
}