.Footer{
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}
.Footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer ul li{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}
.Footer ul li a{
    margin: 10% 0;
    color: black;
    font-size: 1vw;
    width: max-content;
}
.Footer ul li img{
    width:  15vw;
}
.Footer ul li a:hover{
    border-bottom: 0.1vw solid black;
}
.Footer hr{
    margin: 2% 0;
}
.Footer .underBox{
    display: flex;
}
.Footer .underBox p{
    font-size: 1.2vw;
    color: gray;
    margin-right: 60%;
    margin-left: 5%;
}
.Footer span{
    display: flex;
    align-items: center;
}
.Footer span a{
    margin: 0 10%;
    color: #0F70DA;
    cursor: pointer;
    font-size: 1.5vw;
    margin-right: 5%;
}
.Footer span a:hover{
    transform: translateY(-0.5vw);
}
@media(max-width: 950px){
    .Footer ul li a{
        margin: 7% 0;
        font-size: 1.3vw;
    }
    .Footer span a{
        margin: 0 10%;
        font-size: 2vw;
    }
    .Footer .underBox p{
        font-size: 1.5vw;
        margin-right: 50%;
    }
}
@media(max-width: 700px){
    .Footer ul li a{
        margin: 5% 0;
        font-size: 2vw;
    }
    .Footer span a{
        margin: 0 10%;
        font-size: 2.5vw;
    }
    .Footer .underBox p{
        font-size: 2vw;
        margin-right: 30%;
    }
}
@media(max-width: 650px){
    .Footer ul{
        flex-wrap: wrap;
    }
    .Footer ul li{
        width: 40%;
        margin: 2% 0;
    }
    .Footer ul li img{
        width: 25vw;
    }
    .Footer ul li a{
        margin: 2.5%;
        font-size: 2.3vw;
    }
    .Footer span a{
        margin: 0 10%;
        font-size: 3.5vw;
    }
    .Footer .underBox p{
        font-size: 2.5vw;
        margin-right: 25%;
    }
}