.nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
.logo{
  width: 12%;
}
.nav nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
  color: white;
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
}
.nav-links {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  right: 50px;
  top: 70px;
  flex-direction: column;
  align-items: center;
  width: 250px;
  transform: translateY(-500px);
}
.cent {
  margin: 0 auto !important;
}
.nav-links.showNav {
  transform: translateY(0);
}
.nav-links li {
  opacity: 0.7;
  font-size: 18px;
  margin: 10px 0;
  padding: 0 10px;
  color: #000;
  cursor: default !important;
}
.nav-links li:hover {
  background: #fff;
  color: #0F70DA;
  text-decoration: underline;
}
.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #000;
}
.ccar {
  display: flex;
  align-items: center;
}
.menu p {
  padding: 10px 20px;
}
.buttons button:nth-child(1) {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background: none;
  color: #000;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
}
.buttons button:nth-child(2) {
  margin-left: 10px;
  padding: 8px 39px;
  font-size: 16px;
  background: none;
  color: #fff;
  border: 2px solid #0F70DA;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #0F70DA;
}
.buttons button:nth-child(1):hover {
  background: #fff;
  color: #0F70DA;
  text-decoration: underline;
}
.buttons button:nth-child(2):hover {
  background-color: #fff;
  color: #0F70DA;
  text-decoration: underline;
}
/* Sign Up Modal style here */
.nav .signupModal{
  background-color: #fff;
  border: .2vw solid #0F70DA;
  position: fixed;
  top: 10%;
  left: 35%;
  width: 30%;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  color: #000;
  padding: 2% 3%;
  border-radius: 2vw;
  text-align: center;
}
.nav .signupModal h1{
  color: orangered;
}
.nav .signupModal h3{
  margin: 5% 0;
  width: 90%;
  color: rgb(74, 74, 74);
}
.nav .signupModal h2{
  color: #0F70DA;
  margin-bottom: 5%;
}
.nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  padding: 2% 3%;
  border: .12vw solid #0F70DA;
  border-radius: .5vw;
  background: #fff;
  color: #000;
  margin-top: 5%;
  outline: none;
  cursor: pointer;
  font-size: 1.3vw
}
.nav .signupModal textarea {
  min-height: 2.6vw;
  max-height: 10vw;
}
.nav .signupModal button{
  color: #fff;
  background-color: #0F70DA;
}
.nav .signupModal button:hover{
  background-color: #fff;
  color: #0F70DA;
}
.nav .SignupOverlay{
  background-color: #0000002d;
  position: fixed;
  width: 100%;
  height: 10000vw;
  top: 0;
  left: 0;
  display: none;
}
.btnlist{
  display: none;
}
/*  */
@media (min-width: 768px) {
  

  .menu {
    display: none;
  }
  .nav-links {
    position: initial;
    transform: translateY(0);
    flex-direction: row;
    gap: 15px;
  }
  .buttons {
    display: block;
  }
  .nav-links li button{
    display: none;
  }
}
@media(max-width: 1300px){
  .nav .signupModal{
    top: 10%;
    left: 25%;
    width: 40%;
    padding: 2% 3%;
    border-radius: 2vw;
  }
}
@media(max-width: 1100px){
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 1.6vw;
  }
}
@media(max-width: 850px){
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .wws {
    font-size: 18px !important;
    width: 200px;
  }

  .nav-links {
    padding: 10px 20px;
    background-color: #fff;
  }
  .nav-links {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .nav .container nav {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttons button:nth-child(1) {
    display: none;
    margin-left: 0px;
  }
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 2vw;
  }
  .nav .signupModal{
    top: 10%;
    left: 25%;
    width: 50%;
    padding: 2% 3%;
    border-radius: 2vw;
  }
  .btnlist{
    display: block;
  }
}
@media(max-width: 700px){
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 2.7vw;
  }
}
@media (max-width: 567px) {
  .buttons button:nth-child(2) {
    margin-left: 5px;
    padding: 8px 29px;
  }
  .menu ul {
    padding: 8px 15px;
  }
  .logo{
    width: 35%;
  }
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 3vw;
  }
  .nav .signupModal{
    top: 15%;
    left: 10%;
    width: 80%;
    padding: 4% 3%;
    border-radius: 2vw;
  }
}
@media (max-width: 400px) {
  .nav nav {
    padding: 2px;
    display: flex;
    justify-content: space-between;
  }
  .buttons button:nth-child(2) {
    margin-left: 0px;
    padding: 8px 20px;
    margin: 5px 5px 5px 0;
  }
  .nav .signupModal input , .nav .signupModal textarea ,.nav .signupModal button{
    font-size: 4vw;
  }
  .nav .signupModal{
    top: 18%;
    left: 8%;
    width: 80%;
    padding: 5% 3%;
    border-radius: 2vw;
  }
}