.SendedComp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
}
.SendedComp i{
    font-size: 3vw;
    background-color: rgb(0, 202, 0);
    color: white;
    padding: 1.3vw 1.5vw;
    border-radius: 50%;
    font-weight: 900;
}
.SendedComp h2{
    margin: 2%;
    font-size: 2vw;
}
.SendedComp a{
    background-color: #275efe;
    color: white;
    padding: 1vw 1.4vw;
    font-size: 1.3vw;
    margin: 2%;
    border-radius: 1vw;
}
@media (max-width:800px) {
    .SendedComp i{
        font-size: 4vw;
    }
    .SendedComp h2{
        font-size: 3vw;
    }
    .SendedComp a{
        font-size: 2vw;
    }
    .SendedComp{
        margin-top: 35%;
    }
}
@media (max-width:650px){
    .SendedComp i{
        font-size: 10vw;
        padding: 3.6vw 4vw;
    }
    .SendedComp h2{
        font-size: 7vw;
        margin: 5%;
    }
    .SendedComp p{
        width: 90%;
    }
    .SendedComp a{
        font-size: 4.8vw;
        padding: 2vw;
        margin: 3%;
    }
    .SendedComp{
        margin-top: 60%;
    }
}