.Company{
    padding: 5% 10%;
}
.Company h1{
    text-align: center;
    /* font-size: 2vw; */
    color: rgb(68, 68, 68);
}
.Company p{
    text-align: center;
    width: 50%;
    margin: 2% auto;
    /* font-size: 1.5vw; */
    color: rgb(102, 102, 102);
}
.Company ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.Company ul li{
    text-align: center;
}
.Company ul li:hover{
    transform: translateY(-1vw);
}
.Company ul p{
    margin: 5% auto;
    width: 70%;
}
.Company ul img{
    width: 40%;
}
@media(max-width: 700px){
    .Company h1{
        font-size: 6vw;
    }
    .Company p{
        margin: 3% auto;
        font-size: 2vw;
        width: 70%;
    }
    .Company ul{
        flex-wrap: wrap;
    }
    .Company ul h3{
        font-size: 2vw;
    }
    .Company ul img{
        width: 30%;
    }
}
@media(max-width: 500px){
    .Company h1{
        font-size: 6.7vw;
    }
    .Company p{
        margin: 3% auto;
        font-size: 3.8vw;
        width: 70%;
    }
    .Company ul{
        flex-wrap: wrap;
    }
    .Company ul li{
        margin: 3% 0;
    }
    .Company ul p{
        font-size: 4vw;
    }
    .Company ul h3{
        font-size: 5vw;
    }
    .Company ul img{
        width: 40%;}
    .Company p{ 
        margin: 2% auto;
        width: 80%;
    }
    .Company ul img{
        width: 30%;
    }
    .Company ul{
        flex-direction: column;
    }
    .Company ul li{
        margin: 5% 0;
    }
    .Company ul p{
        margin: 2% auto;
        width: 70%;
    }
}
@media(max-width: 500px){
    .Company p{ 
        margin: 2% auto;
        width: 90%;
    }
    .Company ul img{
        width:  40%;
    }
    .Company ul{
        flex-direction: column;
    }
    .Company ul li{
        margin: 5% 0;
    }
    .Company ul p{
        margin: 2% auto;
        width: 70%;
    }
}