/* .LoginPage{
    overflow: hidden;
    transition: .3s;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    cursor: default;
}
.LoginPagePath a{
    background-color: #f7f7f7;
    color: #478EF2;
    padding: 1% 1.6%;
    font-size: 2vw;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    top: 3%;
    left: 2%;
}
.LoginPagePath a:hover{
    background-color: #478EF2;
    color: #f7f7f7;
}
.LoginPageBox{
    text-align: center;
    padding: 2%;
    border-radius: 2vw;
    color: #478EF2;
    background-color: #f7f7f7;
}
.LoginPageBox img{
    width: 40%;
    margin-bottom: 4%;
}
.LoginPageBox h1{
    margin: 4% 0;
    font-size: 2.6vw;
}
.LoginPageBox p{
    margin: 2% 0;
    font-size: 1.2vw;
    font-weight: 300;
}
.LoginPage form{
    text-align: left;
    border-radius: 1vw;
    margin: 2% 0;
}
.LoginPage form h3{
    font-size: 1.2vw;
    margin-left: auto;
}
.LoginPage form input{
    width: 100%;
    outline: none;
    color: #478EF2;
    background-color: white;
    border: .1vw solid rgb(235, 235, 235);
    border-radius: .8vw;
    padding: 2.6%;
    margin: 2%;
    font-size: 1.3vw;
}
.LoginPage form input:hover{
    border: .1vw solid #478EF2;
}
.LoginAddInput{
    padding: 5.4% !important;
}
.LoginPage .signBoxes{
    margin: 2%;
}
.LoginPage .signInside{
    display: flex;
}
.LoginPageBox .LoginBoxess{
    padding: 1%;
    display: flex;
    align-items: center;
}
.LoginPageBox .LoginBoxess h2{
    font-size: 1.2vw;
}
.LoginPage .LoginBoxess .Logincheck{
    margin: 2%;
    width: min-content;
}
.LoginPage form button{
    cursor: pointer;
    width: 100%;
    font-size: 1.3vw;
    outline: none;
    border: 0.1vw solid #478EF2;
    background-color: #f7f7f7;
    color: #478EF2;
    padding: 3%;
    margin-top: 1%;
    border-radius: .8vw;
}
.LoginPage form button:hover{
    border: 0.1vw solid #f7f7f7;
    background-color: #478EF2;
    color: #f7f7f7;
}
@media  (max-width:600px) {
    .LoginPageBox{
        width: 100%;
        height: 100vh;
        padding: 8%;
    }
    .LoginPageBox img{
        width: 45%;
        margin-bottom: 8%;
    }
    .LoginPagePath a{
        font-size: 6vw;
        padding: 3% 5%;
        left: 4%;
    }
    .LoginPageBox h1{
        font-size: 7vw;
        margin: 0;
    }
    .LoginPageBox p{
        font-size: 3vw;
    }
    .LoginPage form{
        margin: 6% 0;
    }
    .LoginPage form h3{
        font-size: 3.4vw;
    }
    .LoginPage form input{
        font-size: 3.4vw;
        padding: 5%;
        margin: 1%;
        border-radius: 2vw;
    }
    .LoginAddInput{
        padding: 9% !important;
    }
    .LoginPageBox .LoginBoxess h2{
        font-size: 3.8vw;
    }
    .LoginPage form button{
        padding: 4%;
        font-size: 4vw;
        border: .3vw solid #478EF2;
        border-radius: 2vw;
    }
} */
.LeftText {
    padding: 20px 0;
}

.LoginPagedfDiv {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.LoginPageLeftdiv {
    padding: 10px 30px 0 50PX;
    /* margin: 30px 0 30px 0; */
}

.LeftLogo {
    margin-left: -30px;
    max-width: 300px;
}

.LEftInputs {
    font-family: 'Roboto';
}

.fnamediv {
    display: flex;
}

.group {
    position: relative;
    padding: 0 10px;
}

.group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    max-width: 200px;
    border: none;
    border-bottom: 1px solid #757575;
}

.group input:focus {
    outline: none;
}

.group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    max-width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.group input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}










.ssapd {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.ssapd input {
    width: 100%;
}

.groupW100 {
    position: relative;
    margin: 30px 0 40px 0;
    padding: 0 10px;
}

.groupW100 input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

.groupW100 input:focus {
    outline: none;
}

.groupW100 label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.groupW100 input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.groupW100 input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.groupW100 input:focus~.highlight {
    -webkit-animation: inputHighlighterW100 0.3s ease;
    -moz-animation: inputHighlighterW100 0.3s ease;
    animation: inputHighlighterW100 0.3s ease;
}

@-webkit-keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.cpm {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;

}

.cpmm {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='checkbox']:disabled+label,
    input[type='radio']:disabled+label {
        cursor: not-allowed;
    }

    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }

    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='checkbox']+label,
    input[type='radio']+label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }

    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }

    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }

    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: 0.5;
    }
}

.checkboxbody {
    box-sizing: inherit;
}

.checkboxbody:before,
.checkboxbody:after {
    box-sizing: inherit;
}

.checkboxbody {
    font-family: 'Inter', Arial, sans-serif;
    color: #8a91b4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.LoginPageRightDiv {
    max-height: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: rgb(63, 171, 251);
    background: radial-gradient(circle, rgba(63, 171, 251, 1) 0%, rgba(91, 70, 252, 1) 100%);
    color: #fff;
    padding: 0 30px;
}

.LoginPageRightDiv h2 {
    padding: 30px 20px;
}

@media (max-width: 800px) {
    .LoginPageRightDiv {
        display: none;
    }

    .ssapd input {
        width: 80%;
        margin-bottom: 60px;

    }
    .LoginPageLeftdiv {
        /* margin: 0 4dvb 0 0px; */
        width: 100%;
    }
    .fnamediv {
        width: 100%;
        flex-wrap: wrap;
    }
    .fnamediv div{
        width: 100%;
    }
    .fnamediv div input, .highlight, .bar {
        width: 1000px !important;
        max-width: 100%;
    }
    .group {
        width: 100%;
        margin:   20px 0;
    }
}