<<<<<<< HEAD

/* .LoginPage{
    overflow: hidden;
    transition: .3s;
=======
>>>>>>> 6aa62c6a8a4240a01419e2b1dfd1d3b2a4e0e9f4
.Login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.LoginPage{
    position: fixed;
    overflow-y: scroll;
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f8ff;
    padding: 5%;
    height: 96vh;
    top: 5%;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
}
.LoginImgB{
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100vh;
}
.LoginReves{
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.LeftText {
    text-align: center;
    padding: 20px 0;
    color: black;
}
.LeftText h2{
    font-size: 3vw;
    margin: 1%;
}
.LeftLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}
.LoginPagedfDiv {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.LoginPageLeftdiv {
    padding: 4%;
}

/* .LoginPageLeftdiv .LoginPagePath a{
    padding: 1.3% 1.6%;
} */
.LeftLogo {
    max-width: 300px;
}

.LEftInputs {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

.fnamediv {
    display: flex;
}
.fnamedivs{
    display: flex;
}
.fnamedivs .groupW100{
    margin: 0;
    width: 100%;
}
.group {
    position: relative;
    padding: 0 10px;
}

.group input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    max-width: 200px;
    border: none;
    border-bottom: 1px solid #757575;
}

.group input:focus {
    outline: none;
}

.group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    max-width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.group input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}



.checkboxbody {
    box-sizing: inherit;
}

.checkboxbody:before,
.checkboxbody:after {
    box-sizing: inherit;
}

.checkboxbody {
    font-size: 1.2vw;
    font-family: 'Inter', Arial, sans-serif;
    color: #8a91b4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3%;
}





.LoginAlready{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    font-size: 1.3vw;
}

.LoginAlready p{
    color: #275efe;
}

.ssapd {
    display: flex;
    text-align: center; 
    justify-content: center;
}

.ssapd input {
    font-size: 1.3vw;
    width: 100%;
    border-radius: 1vw;
}

.groupW100 {
    position: relative;
    margin: 30px 0 40px 0;
    padding: 0 10px;
}

.groupW100 input, .fnamedivs .groupW100 input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: none;
}

.groupW100 input:focus {
    outline: none;
}

.groupW100 label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.groupW100 input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.groupW100 input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.groupW100 input:focus~.highlight {
    -webkit-animation: inputHighlighterW100 0.3s ease;
    -moz-animation: inputHighlighterW100 0.3s ease;
    animation: inputHighlighterW100 0.3s ease;
}

@-webkit-keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighterW100 {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.cpm {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;

}

.cpmm {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='checkbox']:disabled+label,
    input[type='radio']:disabled+label {
        cursor: not-allowed;
    }

    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }

    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='checkbox']+label,
    input[type='radio']+label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }

    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }

    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }

    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }

    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }

    input[type='radio']:checked {
        --s: 0.5;
    }
}
@media (max-width: 1000px) {
    .LeftText h2{
        font-size: 4vw;
    }
    .LeftLogo{
        width: 40%;
    }
}

@media (max-width: 800px) {
    .LoginPage{
        width: 50%;
        padding: 5% 0;
        height: 95vh;
    }
    .LoginAlready{
        margin-bottom: 10%;
    }
    .ssapd input {
        margin-bottom: 4%;
        font-size: 2vw;
    }
    .LeftLogo{
        width: 100% !important;
        margin: auto;
    }
    .LeftLogo img{
        width: 60%;
    }
    .LoginPageLeftdiv {
        width: 100%;
        margin: 0;
        padding: 5% 10%;
    }
    .fnamediv, .fnamedivs {
        width: 100%;
        flex-wrap: wrap;
    }
    .fnamediv div{
        width: 100%;
    }
    .fnamediv div input, .highlight, .bar {
        width: 1000px !important;
        max-width: 100%;
    }
    .group {
        width: 100%;
        margin:   20px 0;
    }
    .LoginPage {
        padding: 0 2%;
    }
    .ssapdButton{
        font-size: 16px;
<<<<<<< HEAD
    }
    .LoginAlready{
        font-size: 2vw;
=======
>>>>>>> 6aa62c6a8a4240a01419e2b1dfd1d3b2a4e0e9f4
    }
}

@media (max-width: 650px){
    .Login{
        padding: 0;
        margin-bottom: 10%;
    }
    .LoginImgB{
        display: none;
    }
    .LoginPage{
        margin: 0;
        width: 100%;
        border-radius: 0%;
        background-color: white;
    }
    .LeftLogo{
        margin: auto;
    }
    .LoginPageLeftdiv {
        width: 100%;
        margin: 0;
        padding: 5% 10%;
    }
    .LeftText h2{
        font-size: 8.5vw;
    }
    .checkboxbody{
        font-size: 4vw;
    }
    .ssapd input{
        font-size: 4.5vw;
        border-radius: 3vw;
    }
    .LoginAlready{
        font-size: 4vw;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 6aa62c6a8a4240a01419e2b1dfd1d3b2a4e0e9f4
