.LoginPage{
    overflow: hidden;
    transition: .7s;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    cursor: default;
}
.LoginPagePath a{
    background-color: #f7f7f7;
    color: #478EF2;
    padding: 1% 1.6%;
    font-size: 2vw;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    top: 3%;
    left: 2%;
}
.LoginPagePath a:hover{
    background-color: #478EF2;
    color: #f7f7f7;
}
.LoginPageBox{
    text-align: center;
    padding: 2%;
    border-radius: 2vw;
    color: #478EF2;
    background-color: #f7f7f7;
}
.LoginPageBox img{
    width: 40%;
    margin-bottom: 4%;
}
.LoginPageBox h1{
    margin: 4% 0;
    font-size: 2.6vw;
}
.LoginPageBox p{
    margin: 2% 0;
    font-size: 1.2vw;
    font-weight: 300;
}
.LoginPage form{
    text-align: left;
    border-radius: 1vw;
    margin: 2% 0;
}
.LoginPage form h3{
    font-size: 1.2vw;
    margin-left: auto;
}
.LoginPage form input{
    width: 100%;
    outline: none;
    color: #478EF2;
    background-color: white;
    border: .1vw solid rgb(235, 235, 235);
    border-radius: .8vw;
    padding: 2.6%;
    margin: 2%;
    font-size: 1.3vw;
}
.LoginPage form input:hover{
    border: .1vw solid #478EF2;
}
.LoginAddInput{
    padding: 5.4% !important;
}
.LoginPage .signBoxes{
    margin: 2%;
}
.LoginPage .signInside{
    display: flex;
}
.LoginPageBox .LoginBoxess{
    padding: 1%;
    display: flex;
    align-items: center;
}
.LoginPageBox .LoginBoxess h2{
    font-size: 1.2vw;
}
.LoginPage .LoginBoxess .Logincheck{
    margin: 2%;
    width: min-content;
}
.LoginPage form button{
    cursor: pointer;
    width: 100%;
    font-size: 1.3vw;
    outline: none;
    border: 0.1vw solid #478EF2;
    background-color: #f7f7f7;
    color: #478EF2;
    padding: 3%;
    margin-top: 1%;
    border-radius: .8vw;
}
.LoginPage form button:hover{
    border: 0.1vw solid #f7f7f7;
    background-color: #478EF2;
    color: #f7f7f7;
}
@media  (max-width:600px) {
    .LoginPageBox{
        width: 100%;
        height: 100vh;
        padding: 8%;
    }
    .LoginPageBox img{
        width: 45%;
        margin-bottom: 8%;
    }
    .LoginPagePath a{
        font-size: 6vw;
        padding: 3% 5%;
        left: 4%;
    }
    .LoginPageBox h1{
        font-size: 7vw;
        margin: 0;
    }
    .LoginPageBox p{
        font-size: 3vw;
    }
    .LoginPage form{
        margin: 6% 0;
    }
    .LoginPage form h3{
        font-size: 3.4vw;
    }
    .LoginPage form input{
        font-size: 3.4vw;
        padding: 5%;
        margin: 1%;
        border-radius: 2vw;
    }
    .LoginAddInput{
        padding: 9% !important;
    }
    .LoginPageBox .LoginBoxess h2{
        font-size: 3.8vw;
    }
    .LoginPage form button{
        padding: 4%;
        font-size: 4vw;
        border: .3vw solid #478EF2;
        border-radius: 2vw;
    }
}