.NotFound{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.NotFound img{
    width: 50%;
}
@media (max-width: 650px) {
    .NotFound img{
        width: 80%;
    }
}